@import "../../styles/variables";

.searchHeder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchConainer{
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
}

@media (min-width: 768px) {
    
    .searchConainer{
        width: 30%;
    }
}
